include README.md
include MANIFEST.in
include setup.py
include requirements*.txt
include py.typed
include versioneer.py
include openghg/_version.py

graft openghg

global-exclude *.pickle
global-exclude *.pyc
global-exclude *.pyd
global-exclude .git*
