[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 110

[tool.pytest.ini_options]
pythonpath = [
    "."
]
timeout = 300
