# Required for testing
cfchecker @ git+https://github.com/openghg/cf-checker@master#egg=cf-checker
flake8
pre-commit
pytest >= 6.2.5
pytest-tornasync
pytest-cov
pytest-mock
pytest-timeout
requests-mock
# For mypy
mypy==1.10.0
types-paramiko
types-PyYAML
types-requests
types-toml
types-urllib3
msgpack-types
