git+git://github.com/gareth-j/acquire@testStore#egg=Acquire
bqplot==0.11.9
cachetools
git+git://github.com/gareth-j/cf-checker@removeBasestring#egg=cfchecker
cryptography
ipyleaflet
ipyvuetify
ipywidgets
matplotlib
netcdf4
numpy
pandas
pyotp
pytz
PyYAML
qrcode[pil]
requests
scipy
tables
tblib
voila
xarray