addict
dask
h5netcdf
icoscp
ipywidgets
matplotlib
msgpack
nbformat
nc-time-axis
netcdf4
numcodecs
numexpr
numpy
openghg_defs
pandas < 2.0
plotly
pyvis
rapidfuzz
requests >= 2.25
rich
rich
scipy
scitools-iris
tinydb
toml
urllib3 >= 1.26.3
xarray
zarr
