addict
cfchecker @ git+https://github.com/openghg/cf-checker@master#egg=cf-checker
cdsapi
dask
lazy_import
matplotlib
netcdf4
numexpr
numpy
nc-time-axis
pandas
paramiko
pyvis
rapidfuzz
requests >= 2.25
scipy
tqdm
xarray >= 0.18.2
urllib3 >= 1.26.3
# Required for testing
flake8
pytest >= 6.2.5
pytest-tornasync
pytest-cov
requests-mock
# For mypy
mypy==0.930
types-paramiko
types-PyYAML
types-requests
