# MIT license dependencies
pyotp
cachetools

# MIT license, used only for Python < 3.7
backports-datetime-fromisoformat
pyyaml

# BSD license dependencies
qrcode[pil]
tblib

# Apache or BSD dependencies
cryptography
requests
# Apache license dependencies
fdk==0.0.35
oci
# GPL 3+ license dependencies
lazy_import


